[submodule "gpu/third_party/fsr-vulkan"]
	path = gpu/third_party/fsr-vulkan
	url = https://github.com/FireBurn/FSR-Vulkan.git
[submodule "gpu/third_party/imgui"]
	path = gpu/third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/LibAtrac9"]
	path = third_party/LibAtrac9
	url = https://github.com/Thealexbarney/LibAtrac9.git
